<a href="https://colab.research.google.com/github/kuonicky/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("123")

123

In [7]:
i = range(5)

In [14]:
print(type(i))

<class 'range'>

In [10]:
print(i)

range(0, 5)

In [8]:
print(list(i))

[0, 1, 2, 3, 4]

In [12]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [13]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [16]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [17]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [19]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [25]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [28]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [31]:
for n in range (3):
  print(n)

0
1
2

In [32]:
for n in range (10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [42]:
for n in range(0,10,2):
  print(n,end=",")

0,2,4,6,8,

In [53]:
num = int(input("請輸入一個正整數"))
for n in range(1,num+1):
  print(n,end=" ")

請輸入一個正整數5
1 2 3 4 5

In [52]:
num = int(input("請輸入一個正整數"))
for n in range(1,num+1):
  print(n,end=" ")

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [58]:
sum = 0
for n in range (3):
  sum =sum+n
print(sum)

3

In [59]:
sum = 0
for n in range (10,1,-2):
  sum =sum+n
print(sum)

30

In [65]:
sum = 0
num = int(input("請輸入一個正整數"))
for n in range (0,num+1,1):
  sum =sum+n
print("1到",num,"的整數和為",sum)

請輸入一個正整數10
1到 10 的整數和為 55

In [66]:
sum = 0
num = int(input("請輸入一個正整數"))
for n in range (0,num+1,1):
  sum =sum+n
print("1到",num,"的整數和為",sum)

請輸入一個正整數50
1到 50 的整數和為 1275

In [102]:
sum = 0
num = int(input("請輸入一個正整數"))
for n in range(1,num+1):
  sum =sum+n
  print("1到",n,"的整數和為",sum)

請輸入一個正整數10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55