<a href="https://colab.research.google.com/github/kuonicky/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
i = 0
result = 0
while(i <= 50):
  if i % 2 == 0:
    result += i
  i += 1
print("0～50的偶數和結果是%d"% result)

0～50的偶數和結果是650

In [82]:
i = 0
result = 0
while(i <= 50):
  if i % 2 != 0:
    result += i
  i += 1
print("0～50的奇數和結果是%d"% result)

0～50的奇數和結果是625

In [9]:
a = int(input("請輸入正整數:"))
for i in range(1,a+1):
  for j in range(i,a+1):
    print("*",end = "") 
  print()

請輸入正整數:7
*******
******
*****
****
***
**
*

In [8]:
sum = 0
for n in range (1,100+1):
  if (n%3==0 or n%7==0):
    sum = sum+n
print("數值1～100中,所有是3或7的倍數的數之間總和=",sum)

數值1～100中,所有是3或7的倍數的數之間總和= 2208

In [13]:
p = 1
counter = 0
n = int(input("請輸入正整數:"))
print(n,"的因數有",end = " ")
while(p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()
if (counter==2):
  print(n,"是質數")    
else:
  print(n,"不是質數")

請輸入正整數:12
12 的因數有 1 2 3 4 6 12
12 不是質數

In [17]:
list1 = [1,2,3,4,5]

In [18]:
list1

[1, 2, 3, 4, 5]

In [19]:
list2 = ["香蕉","蘋果","橘子"]

In [20]:
list2

['香蕉', '蘋果', '橘子']

In [21]:
list3 = [1,"香蕉",True]

In [22]:
list3

[1, '香蕉', True]

In [23]:
print(list1)

[1, 2, 3, 4, 5]

In [24]:
print(list1[0])

1

In [27]:
print(list1[0])

1

In [26]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [28]:
list4 = ["香蕉","蘋果","橘子"]

In [30]:
print(list4[1])

蘋果

In [32]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [33]:
print(list4[3])

IndexError: ignored

In [34]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [35]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [36]:
print(list5[1])

['mary', 'abcd']

In [37]:
print(list5[0])

[['tom', '1234']]

In [38]:
print(list5[1][1])

abcd

In [39]:
print(list5[0])

[['tom', '1234']]

In [40]:
print(list5[0][0])

['tom', '1234']

In [42]:
print(list5[0][0])

['tom', '1234']

In [41]:
print(list5[1][0])

mary

In [48]:
score = [85,79,93]

In [49]:
print("國文成績:",score[0],"分")
print("數學成績:",score[1],"分")
print("英文成績:",score[2],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [50]:
list6 = [1,2,3,4,5]

In [51]:
print(list6[0])

1

In [52]:
list6[0]=9

In [54]:
print(list6[0])

9

In [55]:
print(list6)

[9, 2, 3, 4, 5]

In [58]:
list7 = ["香蕉","蘋果","橘子"]

In [60]:
for s in list7:
  print(s,end = ",")

香蕉,蘋果,橘子,

In [64]:
items = [123,"apple",True]

In [65]:
for s in items:
  print(s,sep = "\t")

123
apple
True

In [66]:
scores = [85,79,93]

In [67]:
print(len(scores))

3

In [68]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [71]:
score1 = [85,79,93]

In [80]:
score1 = [85,79,93]
for i in range(len(score1)):
  print("國文成績:",score1[0])
  print("數學成績:",score1[1])
  print("英文成績:",score1[2])
  break

國文成績 85
數學成績 79
英文成績 93

In [70]:
name = ["Tom","Mary","Tony"]

In [81]:
name = ["Tom","Mary","Tony"]
for i in range(len(score1)):
  print("編號1:",name[0])
  print("編號2:",name[1])
  print("編號3:",name[2])
  break

編號1: Tom
編號2: Mary
編號3: Tony